/*.advice_check{*/
  cursor: pointer;
  padding:15px;
  /*border: 1px solid #434343;*/
  border-radius: 5px;
  background-color: #F0EFEF;
  margin-right: 10px;
}
/*.check_box{*/
  display: none;
}

/*.advice_check:hover{*/
	background-color: #A6DCED;
}

/*.check_box:checked + .advice_check {*/
  background-color: #00AFE5;
  color: #ffff
}